/* Global Styles */
body {
	margin: 1%;
	font-size: 125%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #333;
	line-height: 1.6;
	padding: 1rem;
	background: #f4f4f4;
}

/* Skip to Main Content Link */
.skip-link {
	position: absolute;
	left: -999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: 100;
	background-color: #000;
	color: #fff;
	padding: 8px;
	transition: left 0.3s ease-in-out;
}

.skip-link:focus {
	left: 0;
	position: static;
	width: auto;
	height: auto;
	margin: 10px;
	overflow: visible;
	color: #000;
	background-color: #fff;
	border: 1px solid #000;
	z-index: 1000;
}

/* Navigation Bar */
nav ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0;
}

nav ul li a {
	color: white;
	padding: 0.75rem;
	display: block;
	margin: 10px;
	text-decoration: none;
}

nav{
	background: #73a8e0;
	font-size: 3rem;
	text-decoration: underline;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a.active {
	background: #73a8e0;
	color: white;
	text-decoration: none;
	border-bottom: 3px solid #73a8e0;
	border-radius: 4px;
	font-weight: bold;
}

/* Headings and Text */
h1, h2, h3, h4 {
	font-weight: bold;
	padding: 10px;
	margin: 4%;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}


/* Main Components Styling */
header, nav, main, footer {
	border: none;
	margin: 10px 0;
	padding: 20px;
	background-color: #73a8e0;
	color: white;
	text-align: center;
}

/* Grid Layout */
.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 20px;
	padding: 1rem;
}

/* Media Elements */
img, video {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 15% auto;
	border-radius: 70%;
}

.grid-item img {
	width: 100%;
	height: auto;
	border-radius: 20px;
	border: 3px solid #73a8e0;
}

/* Lists */
li {
	margin: 5%;
	text-align: left;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
	body {
		font-size: 100%;
	}

	nav ul {
		flex-direction: column;
		align-items: center;
	}

	nav ul li a {
		width: 100%;
		text-align: center;
		padding: 15px;
		margin: 4%;
	}

	.grid-container {
		grid-template-columns: 1fr;
	}
}

/* Reduced Motion Preference */
@media (prefers-reduced-motion: reduce) {
	* {
		animation: none;
		transition: none;
	}
}
